@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: 'organetto';
  src: local('organetto'), local('organetto-light-exp'),
      url('/app/fonts/organetto-light-exp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'Conquera Bold';
  src: url('Conquera-Bold.eot');
  src: local('Conquera Bold'), local('Conquera-Bold'),
      url('/assets/fonts/Conquera-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Conquera-Bold.woff2') format('woff2'),
      url('/assets/fonts/Conquera-Bold.woff') format('woff'),
      url('/assets/fonts/Conquera-Bold.eot') format('truetype');
  font-weight: bold;
  font-style: normal;
} */

@font-face {
  font-family: 'Organetto';
  src: local('Organetto Regular'),
      url('../fonts/Organetto-Regular.ttf') format('truetype');
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'Truenolight';
  src: local('Trueno lighter'),
  url('../fonts/TruenoUltLt.otf') format('truetype');
  /* font-weight: normal; */
  /* font-style: normal; */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
  src: local('Trueno Regular'),
      url('../fonts/TruenoRg.otf') format('truetype');
  font-weight: regular;
  font-style: normal;
}

#footer{
  margin: 0 !important;
}

.text-stroke-1{
  -webkit-text-stroke: 0.01brem black;

}