.top-font{
    font-family: Organetto;
    font-weight: normal;
    font-style: normal;
    /* color: white; */
    position: absolute;
    width: 90%;
    max-width: 83vw;
    /* left: 10rem; */
    /* top: 0; */
    
    height: 50rem;
}

.contain{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.contain:nth-child(1){
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    align-items: flex-start;
}
.contain:nth-child(2){
    display: flex;
    /* flex-direction: column; */
    justify-content: end;
    align-items: flex-end;
}

.contain div{
    background-color: white;
    border-radius: 4rem;
    padding: 2rem;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
}


.top-cont:nth-child(1){
    /* border: 2rem solid black; */
    /* color :blue; */
    font-size: 2rem;
    letter-spacing: 0.2rem;
    -webkit-text-stroke: 4px black;
}
.top-cont:nth-child(2){
    /* border: 2rem solid black; */
    /* color :blue; */
    color: #2626263d;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    -webkit-text-stroke: 3px #2626263d;
}
.top-cont:nth-child(3){
    /* border: 2rem solid black; */
    /* color :blue; */
    font-size: 2rem;
    letter-spacing: 0.2rem;
    -webkit-text-stroke: 0px #00000037;
    color: #00000037;
}

.content-info{
    width: 34rem;
}